cache/
target/
user/
figures/
vizlab/
Makefile

# RStudio files
*.Rproj
.Rproj.user
.RData
.Ruserdata

# History files
.Rhistory
.Rapp.history
# Session Data files
.RData

# silly file that alison's code makes (and shouldn't, and won't one day). you can ignore it
null
