<div id="imageContainer">
  <div class="imageContent">
    <div class="image">
      {{{before-image}}}
    </div>
    <div class="image">
      {{{after-image}}}
    </div>
  </div>
  <div class="imagesDescription">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus urna a turpis maximus, ac ultrices neque ultrices. Integer condimentum metus libero, vel fringilla dolor ullamcorper vitae. Duis quis cursus nisl. Nulla consequat efficitur neque, et accumsan massa viverra ac. Maecenas viverra maximus libero ut commodo. Sed a diam dui. Donec ante odio, maximus id posuere vulputate, varius ut nulla. Duis ac magna id urna pellentesque pellentesque. Integer varius dui erat, nec dignissim diam accumsan ac. Nullam suscipit nunc ac porttitor volutpat. Mauris eleifend sem orci, sit amet suscipit est scelerisque quis. Nulla rutrum in ante non aliquet. Sed faucibus libero diam, non pellentesque arcu consequat consectetur. Sed venenatis, tellus a laoreet ullamcorper, orci velit consequat augue, vel feugiat magna metus eget dolor. Donec hendrerit imperdiet ultricies. Cras interdum, arcu sed ornare mattis, ex tortor semper lorem, eget porta justo libero in nunc.
    </p>
  </div>
</div>