<div id="imageContainer">
  <div class="imageContent">
    <div class="image">
      <a class="marie-viz" href="images/gage-image.jpg" data-lightbox="Gage">
        {{{gage-image}}}
      </a>
    </div>
    <div class="image">
      <a class="marie-viz" href="images/WC_hydrograph.jpg" data-lightbox="Hydrograph">
        {{{hydrograph-image}}}
      </a>
    </div>
  </div>
  <div class="imagesDescription">
      {{{image-caption}}}
  </div>
</div>