<div id="imageContainer">
  <div class="imageContent">
    <div class="image">
      {{{gage-image}}}
    </div>
    <div class="image">
      {{{hydrograph-image}}}
    </div>
  </div>
  <div class="imagesDescription">
    <p>
      {{{image-caption}}}
    </p>
  </div>
</div>