<div id="{{id}}">
  <div id="figureButtonCenter">
    <figure>
      {{{figure-landscape}}}
      {{{figure-portrait}}}
      <figcaption>{{{caption}}}</figcaption>
    </figure>
    <button id="playButton" onclick="play();">
      {{{playIcon}}}
    </button>
  </div>
</div>